{% extends 'main.html'%}
<!--  -->
    {% block title %}
        Players list
    {% endblock %}
<!--  -->
    {% block body %}
    <p></p>
    <form action="/players" method="POST">

    <p>For retrieve data from 2020-2021 season</p>
    <input type="submit" name="getData" id="getData" value="Get Data">
    </form>
    <p>{{ execstatus }} for {{ exectime }}</p>
    <p>Top 10 Sweden players who scored in Canada</p>
    <table>
        <thead>
            <tr id="table">
                <th id="Player Name">Player Name</th>
                <th id="Jersey Number">Jersey Number</th>
                <th id="Team">Team</th>
                <th id="Position">Position</th>
                <th id="Goals">Goals</th>
            </tr>
        </thead>
        <tbody>
            {% for player in playersdb %}
            <tr id="table"> <!-- Players Tables -->
                <td>{{ player[0] }}</td>
                <td>{{ player[1] }}</td>
                <td>{{ player[2] }}</td>
                <td>{{ player[3] }}</td>
                <td>{{ player[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 

   {% endblock %}
